# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio Code settings
.vscode/

# Rider IDE
.idea/

# NuGet packages
*.nupkg
packages/
# The packages folder can be excluded if restoring via nuget on build

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# DotCover
*.dotCover

# ReSharper
_ReSharper*/
*.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.usero*
